<!--==========================
      About Us Section
    ============================-->
    <section id="about">
            <div class="container">
      
              <header class="section-header">
                <h3>About Us</h3>
                <p>Humane Indian Animal Foundation, dba Adopt-a-Pet.com, is a non-profit, tax-deductible 501(c)(3) adoption advertising charity. Our mission (and passion) is to help get homeless pets out of the shelters and into loving homes. Let us know what you think! Suggestion & Comment Box
                        Special thanks to our sponsors, Purina, The Petco Foundation, Bayer Animal Health, and Wag!, whose support makes our life-saving work possible.</p>
              </header>
      
              <div class="row about-cols">
      
                <div class="col-md-4 wow fadeInUp">
                  <div class="about-col">
                    <div class="img">
                      <img src="../../assets/img/mission.jpg" alt="" class="img-fluid">
                      <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Our Mission</a></h2>
                    <p>
To fight for the rights, value and welfare of animals.
To promote responsible pet ownership and maintain a continuous campaign to educate the general public about their responsibilities towards the welfare of pet dogs and cats.</p>
                  </div>
                </div>
      
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="about-col">
                    <div class="img">
                      <img src="../../assets/img/plan.jpg" alt="" class="img-fluid">
                      <div class="icon"><i class="ion-ios-list-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Our Objectives</a></h2>
                    <p>
                            The objects of the Society are as follows:

                            Rescue and Rehabilitation of animals in distress:
                            To provide free first-aid, veterinary care and shelter at Karuna’s in and out patient department. This includes wildlife rescue and life time care but excludes food animals that are owned privately and are under the care of animal husbandry.
                            To implement Animal Birth Control and Anti Rabies program for Indian dogs.
                            Conducting fund raising events                    </p>
                  </div>
                </div>
      
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="about-col">
                    <div class="img">
                      <img src="../../assets/img/vision.jpg" alt="" class="img-fluid">
                      <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Our Vision</a></h2>
                    <p>
                            In a world in turmoil caused by war, economic pressures and environmental problems, it is easy to forget that we are not the only species living and surviving on this planet.

                            Large scale interference by humans in the animal world and nature is causing immense suffering for animals and nature alike.
                            
                            Compassion for all living beings is the driving force to rescue and rehabilitate animals in distress.
                            
                            We hope that compassion expressed in action will create a new balance in the human-animal-nature relationship. This is in the interest of all living beings.                    </p>
                  </div>
                </div>
      
              </div>
      
            </div>
          </section><!-- #about -->
